#selector{

	margin:8px;

}

.no-animation{
    
    color:white;
}

.popover>.arrow{

	display:none !important;
}

.form-control.typeSelect{
	width:25%;
}

a{
	cursor:pointer;
}
mark{

	background-color:yellow;
	color:black;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 40px;
    margin-top: 230px;
    margin-left: 85px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}	
.popover{

    max-width: 600px !important;
    top:75px !important;
    display: block !important;
    width: 600px !important;
    left:55px !important;
    font-size:12px;
    position:fixed;
}

.highlight{


}
.popover-title{
	font-size:13px;
	font-weight:bold;

}


.panel-active{
	box-shadow: 0 0 10px #337AB7;
}

.accordion-well{
	max-height:275px;
	overflow:scroll;
	line-height:30px;
	margin-bottom:4px;
}

.panel{
	margin-bottom:2px !important;

}

.accordion-well p{
	font-size:14px;

}

td{
	padding:10px	;
}

.statsTable{

	text-align:center;

}

.navbar{
    background-color: #3c8dbc;
    background-image: linear-gradient(#04519b,#044687 60%,#033769);
    background-repeat: no-repeat;
    z-index: 811;
    border:none !important;
    position:fixed;
}

.navbar-default .navbar-nav>li>a{
	color:white !important;
}
.navbar-default .navbar-nav>li>a:hover{
	color:white !important;

}

.navbar-nav>li:hover{
	background-color: rgb(124,33,40);

}

.navbar-default .navbar-nav>.active>a{
	color: white;
	background-color: rgb(124,33,40);

}
.navbar-item a{ 
    color:white;
    font-family:Lobster;
    font-size:24px;
    text-decoration: none;
    margin-left:5px;
}

