<div class="containter">
	<div class="row">
		<div class="col-sm-6">
			<h4>About the Developer</h4>
		</div>
		<div class="col-sm-6">
			<h4>Limitations and Future Features</h4>
		</div>
		<div class="col-sm-6">
			<p>My name is Michael Gargano, I have a Bachelor's Degree in Computer Science from Eastern Connecticut State University. I currently attend Northeastern University to recieve a Masters in Bioinformatics. I've developed this application for biologists, scientists, and researchers who need an efficient way to analyze current genes being studied across specific cancer tumor types from PubMed medical research articles.</p>
			<h5><strong>Contact</strong></h5>
			<p>For bugs or requests to extend the applications features please reach out to me in the git repo.<br><a href="http://www.github.com/mgdlxd" target="__blank">http://www.github.com/mgdlxd</a></p>
			<p>I am also seeking job opportunites with researchers. Please feel free to contact me via my personal or school email<br><a href="mailto:garganomx@gmail.com">garganomx@gmail.com</a><br><a href="mailto:gargano.mi@husky.neu.edu">gargano.mi@husky.neu.edu</a></p>
			<div class="margin-top">
				<a class="btn btn-primary" ng-href="#/analyze">
				<strong>Start Analysis</strong> <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span></a>
			</div>
		</div>
		<div class="col-sm-6">
			<p>Some current limitations include the analysis of gene names only. Text processing of gene names has limitations itself, gene names have no specific identifiers and often are words in the english language. This application has omitted a list of gene names due to the skewness of the results these genes cause.</p>
			<div class="col-sm-3">
					WAS<br>IMPACT<br>LARGE<br>MICE<br>
					T<br>SET<br>HR<br>SHE<br>ARC<br>NODAL<br>IV
			</div>
			<div class="col-sm-3">
					MET<br>PC<br>NM<br>UBC<br>GC<br>CS<br>
					KIT<br>MS<br>COIL
			</div>
		</div>
	</div>
</div>
