<div class="well"  ng-switch on="$parent.tab">
	<span ng-switch-when="summary" ng-bind="activeGene.summary"></span>
	<span ng-switch-when="stats">
		<table class="statsTable" tablestat tablestat-gene="{{selGene}}" tablestat-totalcount="{{ttlcount}}" tablestat-prcttotal="{{prctTotal}}" tablestat-prctgene="{{prctGene}}" tablestat-counts="{{artcount}}" tablestat-cancers="{{cancers}}"></table>
	</span>
	<span ng-switch-when="links">
		<ol>
			<li><a target="__blank" ng-href="http://www.ncbi.nlm.nih.gov/gene/?term={{activeGene.gene}}">NCBI Gene Search for {{activeGene.gene}}</a></li>
			<li><a target="__blank"  ng-href="http://www.genecards.org/Search/Keyword?queryString={{activeGene.gene}}">Gene Cards for {{activeGene.gene}}</a></li>

		</ol>
	</span>
	<span ng-switch-when="wordcloud">Word Cloud Here</span>
</div>
